@model MailSenderVM
@{
    ViewBag.Title = "Sebastian Uddéns Portfolio";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- ***************************************************************************************************
  // *************************************************************************************************** //
  // ********************T*H*A*N*K***Y*O*U***F*O*R***S*H*O*W*I*N*G***I*N*T*E*R*E*S*T******************** //
  // *************************************************************************************************** //
  // *************************************I*N***M*Y***C*O*D*E******************************************* //
  // *************************************************************************************************** //
  // ********************T*H*E*S*E***A*R*E***B*Y***N*O***M*E*A*N*S***T*H*E***E*X*T*E*N*T**************** //
  // *************************************************************************************************** //
  // ****************************O*F***M*Y***C*A*P*A*B*I*L*I*T*I*E*S************************************ //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // *****************I*M***A***H*A*R*D***W*O*R*K*E*R***W*H*O***L*O*V*E*S***C*O*D*I*N*G***************** //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // ***********************C*O*N*T*A*C*T***M*E***F*O*R***M*O*R*E***I*N*F*O***************************** //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // ***********************************OOO************OOO********************************************** //
  // **********************************O***O**********O***O********************************************* //
  // ***********************************OOO************OOO********************************************** //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // ********************************OO********************OO******************************************* //
  // **********************************OO****************OO********************************************* //
  // ************************************OOO**********OOO*********************************************** //
  // ***************************************OOOOOOOOOO************************************************** //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // *************************************************************************************************** //
  // **********************************//*S*E*B*A*S*T*I*A*N********************************************* //
  // *************************************************************************************************** //
  // *************************************************************************************************** -->
<!-- Intro Header -->
<header class="intro" id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Portfolio</h1>
                    <p class="intro-text">
                        Web developer, software designer and sound engineer
                        <br />- Sebastian Uddén
                    </p>
                    <a href="#portfolio" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Section -->
<section id="portfolio" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Portfolio</h2>
        </div>
    </div>
    <div class="row">
        <button class="standard-btn btn-width-medium rightMargin10 bottomMargin10" onclick="window.location.href = '../portfolio/minesweeper'">Minesweeper</button>
        <span class="hidden-sm hidden-md hidden-lg"><br /></span>
        <button class="standard-btn btn-width-medium rightMargin10 bottomMargin10" onclick="window.location.href = '../portfolio/weatherapp'">Weather App</button>
        <span class="hidden-sm hidden-md hidden-lg"><br /></span>
        <button class="standard-btn btn-width-medium rightMargin10 bottomMargin10" onclick="window.location.href = '../portfolio/photoslider'">Photo Gallery</button>
        <span class="hidden-sm hidden-md hidden-lg"><br /></span>
    </div>
</section>

<!-- About Section -->
<section id="about" class="content-section text-center">
    <div class="about-section">
        <div class="container">
            @*<div class="col-lg-10 col-lg-offset-1">*@
            <h2>About</h2>
            <div class="col-lg-5 col-md-6 col-sm-6 col-lg-offset-1 rightParagraph">
                <p class="pLeft">
                    My background is rooted in IT as a project lead for website development
                    (I'm a certified Scrum Master). I've also been working as a sound designer and composer
                    for games, providing creative know how and expertise in the related fields.
                    My education has been in Economics and Systems Architecture at Uppsala University
                    as well as Audio Production. I have entrepeneurial experience through managing two companies and working
                    as a freelancer.
                    <br />
                </p>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 leftParagraph">
                <p class="pLeft">
                    In the last few years I've been moving towards software- and web development by taking online
                    courses and recently finishing the accelerated learning program in C# and .NET at
                    Academic Work Academy. As a person I'm a pragmatic problem solver with a deep creative spark,
                    a team player focused on getting the best out of my group as well as applying my knowledge and passion to new challenges and applications.
                    <br /><br />
                    If you have any questions please do not hesitate to <a class="page-scroll" href="#contact">contact me!</a>
                <p />
            </div>
            <br />
            <div class="col-sm-6 col-sm-offset-3 centerImgae divImage ratio11 img-circle" style="background-image: url(../img/general/Sebastian-Uddén.jpg);"></div>
            <div class="col-lg-10 col-md-12 col-sm-12 col-lg-offset-1">
                <br />
                <br />
                <h3>Download CV</h3>
                <p>It's available as a pdf below, you can also go to my <a href="https://se.linkedin.com/in/sebastianudden">LinkedIn</a> page.</p>
                <button class="standard-btn btn-width-medium" onclick="window.open('../CV/Sebastian_Uddén_CV.pdf')">Swedish CV</button>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Contact</h2>
            <p class="hidden-xs">Feel free to contact me via email or phone!</p>
            <div class="col-sm-4 contactInformation">
                <h3 class="hidden-xs">Contact Information</h3>
                <p class="firstP">
                    <span class="hidden-xs">Sebastian Uddén<br /></span>
                    <a href="mailto:sebastian.udden@gmail.com">sebastian.udden@gmail.com</a><br />
                    <a href="tel:0046730797992">+46 730 797 992</a><br />
                    <span class="hidden-xs">Stockholm, Sweden</span>
                </p>
            </div>

            <div class="col-sm-8">
                <h3 class="hidden-lg hidden-md hidden-sm topMargin20 bottomMargin20">Notify Me</h3>
                <!-- #region MailSender -->
                <form asp-controller="Home" asp-action="SendAnEmail">
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <input type="text" asp-for="Subject" placeholder="Subject">
                            <span asp-validation-for="Subject"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <input type="text" asp-for="Name" placeholder="Name">
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <input type="text" asp-for="Email" placeholder="E-mail">
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <textarea asp-for="Message" placeholder="Message" rows="5"></textarea>
                    <span asp-validation-for="Message"></span>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <input class="standard-btn btn-width-small" type="submit" value="Send" style="float: right" />
                        </div>
                    </div>
                </form>
                <!-- #endregion -->
            </div>

            <br />
            <br />
        </div>
    </div>
</section>
<br />
<br />
<br />

