@{
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
    ViewBag.Title = "Photo Slider";
}

<style>
    .carousel-inner {
        height: 40vh;
        background-color:black;
    }

    .carousel, img {
        /*height: auto;*/
        /*width: 100% !important;*/
        /*border: 5px solid #ff6a00;*/
        width: 100%;
    /*background-size: cover;*/
    background-position: center;
    display: block;
    margin-top:1vh;
    margin-left: auto;
    margin-right: auto;
    }

        .carousel .item {
            height: auto;
        }

    .item img {
        top: 0;
        left: 0;
        height: auto;
    }
</style>
<div ng-controller="photoSliderCtrl">
    <div class="container content-section text-center">
        <div class="row">
            <br />
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-sm-3 col-xs-2">
                        <a href="../portfolio/weatherapp" style="float:left"><span class="fa fa-angle-double-left" style="font-size:x-large;"></span> <span class="hidden-xs" style="font-size:x-large">Previous</span></a>
                    </div>
                    <div class="col-sm-6 col-sm-offset-0 col-xs-8">
                        <h2>Photos</h2>
                    </div>
                    <div class="col-sm-3 col-xs-2">
                        <a href="../portfolio/minesweeper" style="float:right"><span class="hidden-xs" style="font-size:x-large">Next</span> <span class="fa fa-angle-double-right" style="font-size:x-large;"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bottomMargin10">
            <!-- #region Photos -->
            <div class="col-xs-4">
                <div class="divImage ratio11 portfolioClickableImage topMargin36" style="height:60vh;background-image: url(../img/portfolio/PhotoSlider/London/london00.jpg)" data-toggle="modal" data-target="#London">
                    <div class="layer">
                        <h3 class="pictureInformation" style="color:#ffffff;text-shadow:3px 3px 6px #000000; margin-top:30vh;">London</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="divImage ratio11 portfolioClickableImage topMargin36" style="height:60vh;background-image: url(../img/portfolio/PhotoSlider/Rio/rio00.jpg)" data-toggle="modal" data-target="#Rio">
                    <div class="layer">
                        <h3 class="pictureInformation" style="color:#ffffff;text-shadow:3px 3px 6px #000000; margin-top:30vh;">Rio</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="divImage ratio11 portfolioClickableImage topMargin36" style="height:60vh;background-image: url(../img/portfolio/PhotoSlider/Tokyo/tokyo03.jpg)" data-toggle="modal" data-target="#Tokyo">
                    <div class="layer">
                        <h3 class="pictureInformation" style="color:#ffffff;text-shadow:3px 3px 6px #000000; margin-top:30vh;">Tokyo</h3>
                    </div>
                </div>
            </div>
            <div id="London" class="modal">
                <span class="closePortfolioModal" data-dismiss="modal">×</span>
                <img class="London portfolioModalSize" src="~/img/Portfolio/PhotoSlider/London/london00.jpg">
                <img class="London portfolioModalSize" src="~/img/Portfolio/PhotoSlider/London/london01.jpg">
                <img class="London portfolioModalSize" src="~/img/Portfolio/PhotoSlider/London/london02.jpg">
                <img class="London portfolioModalSize" src="~/img/Portfolio/PhotoSlider/London/london03.jpg">
                <img class="London portfolioModalSize" src="~/img/Portfolio/PhotoSlider/London/london04.jpg">
                <a class="carouselArrow leftCarouselArrow" onclick="plusDivs(-1, 'London')"><span class="fa fa-chevron-left"></span></a>
                <a class="carouselArrow rightCarouselArrow" onclick="plusDivs(1, 'London')"><span class="fa fa-chevron-right"></span></a>
            </div>
            <div id="Rio" class="modal">
                <span class="closePortfolioModal" data-dismiss="modal">×</span>
                <img class="Rio portfolioModalSize" src="~/img/Portfolio/PhotoSlider/Rio/rio00.jpg">
                <img class="Rio portfolioModalSize" src="~/img/Portfolio/PhotoSlider/Rio/rio01.jpg">
                <img class="Rio portfolioModalSize" src="~/img/Portfolio/PhotoSlider/Rio/rio02.jpg">
                <img class="Rio portfolioModalSize" src="~/img/Portfolio/PhotoSlider/Rio/rio03.jpg">
                <img class="Rio portfolioModalSize" src="~/img/Portfolio/PhotoSlider/Rio/rio04.jpg">
                <a class="carouselArrow leftCarouselArrow" onclick="plusDivs(-1, 'Rio')"><span class="fa fa-chevron-left"></span></a>
                <a class="carouselArrow rightCarouselArrow" onclick="plusDivs(1, 'Rio')"><span class="fa fa-chevron-right"></span></a>
            </div>
            <div id="Tokyo" class="modal">
                <span class="closePortfolioModal" data-dismiss="modal">×</span>
                <img class="Tokyo portfolioModalSize" src="~/img/Portfolio/PhotoSlider/Tokyo/tokyo03.jpg">
                <img class="Tokyo portfolioModalSize" src="~/img/Portfolio/PhotoSlider/Tokyo/tokyo04.jpg">
                <img class="Tokyo portfolioModalSize" src="~/img/Portfolio/PhotoSlider/Tokyo/tokyo00.jpg">
                <img class="Tokyo portfolioModalSize" src="~/img/Portfolio/PhotoSlider/Tokyo/tokyo01.jpg">
                <img class="Tokyo portfolioModalSize" src="~/img/Portfolio/PhotoSlider/Tokyo/tokyo02.jpg">
                <a class="carouselArrow leftCarouselArrow" onclick="plusDivs(-1, 'Tokyo')"><span class="fa fa-chevron-left"></span></a>
                <a class="carouselArrow rightCarouselArrow" onclick="plusDivs(1, 'Tokyo')"><span class="fa fa-chevron-right"></span></a>
            </div>
            <!-- #endregion -->
        </div>
    </div>
    <button class="standard-btn btn-width-medium center-block" onclick="window.location.href = '/Home/Index#portfolio'">Portfolio</button>
</div>
<div class="topMargin80" style="height:8vh;"></div>

<script>
    app.controller('photoSliderCtrl', ['$scope', function ($scope) {
        $scope.showCarousel = true;

        $scope.toggleCarousel = function () {
            $scope.showCarousel = !$scope.showCarousel;
        };
    }]);

    var slideIndex = 1;
    showDivs(slideIndex, nameOfProject);

    function plusDivs(n, nameOfProject) {
        showDivs(slideIndex += n, nameOfProject);
    }

    function showDivs(n, nameOfProject) {
        var i;
        var x = document.getElementsByClassName(nameOfProject);
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }

    //  var currentIndex = 0,
    //items = $('.container div'),
    //itemAmt = items.length;

    //  function cycleItems() {
    //      var item = $('.container div').eq(currentIndex);
    //      items.hide();
    //      item.css('display', 'inline-block');
    //  }

    //  var autoSlide = setInterval(function () {
    //      currentIndex += 1;
    //      if (currentIndex > itemAmt - 1) {
    //          currentIndex = 0;
    //      }
    //      cycleItems();
    //  }, 3000);

    //  $('.next').click(function () {
    //      clearInterval(autoSlide);
    //      currentIndex += 1;
    //      if (currentIndex > itemAmt - 1) {
    //          currentIndex = 0;
    //      }
    //      cycleItems();
    //  });

    //  $('.prev').click(function () {
    //      clearInterval(autoSlide);
    //      currentIndex -= 1;
    //      if (currentIndex < 0) {
    //          currentIndex = itemAmt - 1;
    //      }
    //      cycleItems();
    //  });
</script>
