@{
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
    ViewBag.Title = "Photo Slider";
}

<style>
    .carousel-inner {
        height: 40vh;
        background-color:black;
    }

    .carousel, img {
        /*height: auto;*/
        /*width: 100% !important;*/
        /*border: 5px solid #ff6a00;*/
        width: 100%;
    /*background-size: cover;*/
    background-position: center;
    display: block;
    margin-top:1vh;
    margin-left: auto;
    margin-right: auto;
    }

        .carousel .item {
            height: auto;
        }

    .item img {
        top: 0;
        left: 0;
        height: auto;
    }
</style>
<div ng-controller="photoSliderCtrl">
    <div class="container content-section text-center">
        <div class="row">
            <br />
            <div class="col-sm-8 col-sm-offset-2">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="../portfolio/weatherapp" style="float:left"><span class="fa fa-angle-double-left" style="font-size:x-large;"></span> <span style="font-size:x-large">Previous</span></a>
                    </div>
                    <div class="col-sm-6">
                        <h2>Photos</h2>
                    </div>
                    <div class="col-sm-3">
                        <a href="../portfolio/minesweeper" style="float:right"><span style="font-size:x-large">Next</span> <span class="fa fa-angle-double-right" style="font-size:x-large;"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

    @*<div class="container slider" ng-if="showCarousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img style="width:60vw" src="~/img/Portfolio/PhotoSlider/img00.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>Riverside</h3>
                    </div>
                </div>
                <div class="item">
                    <img style="width:60vw" src="~/img/Portfolio/PhotoSlider/img01.jpg" alt="..." />
                    <div class="carousel-caption">
                        <h3>Millenium Bridge</h3>
                    </div>
                </div>
                <div class="item">
                    <img style="width:60vw" src="~/img/Portfolio/PhotoSlider/img02.jpg" alt="..." />
                    <div class="carousel-caption">
                        <h3>The Plaza</h3>
                    </div>
                </div>
                <div class="item">
                    <img style="width:60vw" src="~/img/Portfolio/PhotoSlider/img03.jpg" alt="..." />
                    <div class="carousel-caption">
                        <h3>Tower Bridge</h3>
                    </div>
                </div>
                <div class="item">
                    <img style="width:60vw" src="~/img/Portfolio/PhotoSlider/img04.jpg" alt="..." />
                    <div class="carousel-caption">
                        <h3>Downtown</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>*@
    <button class="standard-btn btn-width-medium center-block" onclick="window.location.href = '/Home/Index#portfolio'">Portfolio</button>
</div>
<script>
    app.controller('photoSliderCtrl', ['$scope', function ($scope) {
        $scope.showCarousel = true;

        $scope.toggleCarousel = function () {
            $scope.showCarousel = !$scope.showCarousel;
        };
    }]);
</script>
