@{
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
    ViewBag.Title = "Forecast";
}



<section id="weatherApp" class="container content-section text-center">
    <div class="row">
        <br />
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Forecast</h2>
            <hr />
            <div>
                <div style="padding:40px; background-color:rgba(220, 220, 220, 0.60); border-radius:10px;">
                    
                    <button class="standard-btn btn-width-medium" onclick="window.location.href = '/Home/Index#portfolio'">Portfolio</button>
                </div>
            </div>
        </div>
    </div>
</section>