@{
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
    ViewBag.Title = "Weather App";
}

<section id="intro" class="container content-section text-center" ng-controller="forecastCtrl">
    <div class="row">
        <br />
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-sm-3 col-xs-2">
                    <a href="../portfolio/minesweeper" style="float:left"><span class="fa fa-angle-double-left" style="font-size:x-large;"></span> <span class="hidden-xs" style="font-size:x-large">Previous</span></a>
                </div>
                <div class="col-sm-6 col-sm-offset-0 col-xs-8">
                    <h2 class="hidden-xs">Weather App</h2>
                    <h2 class="hidden-sm hidden-md hidden-lg" style="font-size:5vw;">Weather App</h2>
                </div>
                <div class="col-sm-3 col-xs-2">
                    <a href="../portfolio/photoslider" style="float:right"><span class="hidden-xs" style="font-size:x-large">Next</span> <span class="fa fa-angle-double-right" style="font-size:x-large;"></span></a>
                </div>
            </div>
            <div class="row">
                <p style="text-align:left">A weather application built in AngularJS which collects data from an existing API. Write the city and days of forecast below. The list contains weather information, temperatures and dates.</p>
                <hr />
                <div>
                    <div class="portfolioBorderBox">
                        <div class="form-inline">
                            <div class="form-group">
                                City: <input type="text" class="form-control" ng-model="city" />
                                Days: <input type="number" class="form-control" ng-model="days" />
                            </div>
                            <br />
                            <br />
                        </div>
                        <button class="standard-btn btn-width-large bottomMargin20 rightMargin10" ng-if="buttonToggle" ng-click="getData(city, days);">Get forecast</button>
                        <button id="autoBtn" class="standard-btn btn-width-large bottomMargin20 rightMargin10" ng-if="!buttonToggle" ng-click="getForecast();">Loading forecast</button>
                        <p><span ng-if="!buttonToggle">Show <span class="myFontColor">{{getDays}} days</span> of weather for <span class="myFontColor">{{getCity}}</span> below </span><span ng-if="buttonToggle && !pageLoad">Showing <span class="myFontColor">{{getDays}} days</span> of weather for <span class="myFontColor">{{getCity}}</span> below</span></p>
                    </div>
                </div>
                <br>
                <div ng-repeat="weather in list" ng-if="buttonToggle">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        {{ convertToDate(weather.dt) | date }}
                                        <img ng-src="{{ 'http://openweathermap.org/img/w/' + weather.weather[0].icon + '.png' }}" />
                                        <b style="color:#ff6a00">{{weather.weather[0].description}}</b>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    Daytime temperature: {{ convertToCelcius(weather.temp.day) }} °C<br />
                                    Nighttime temperature: {{ convertToCelcius(weather.temp.night) }} °C
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="topMargin80" style="height:8vh;"></div>
<script type="text/javascript">
    // Controller
    app.controller('forecastCtrl', ['$scope', '$resource', function ($scope, $resource) {
        $scope.days = 3;
        $scope.city = "Stockholm";
        $scope.pageLoad = true;
        $scope.getData = function (getCity, getDays) {
            $scope.weatherAPI = $resource("http://api.openweathermap.org/data/2.5/forecast/daily", {
                callback: "JSON_CALLBACK"
            }, { get: { method: "JSONP" } });

            $scope.weatherResult = $scope.weatherAPI.get({ q: getCity, cnt: getDays, APPID: '6644f72d11e2ad2bdfdcc81a8e3734a9' });
            $scope.buttonToggle = !$scope.buttonToggle;
            setTimeout(function () {
                var autoBtn = document.getElementById('autoBtn');
                autoBtn.click();
            }, 300);
        };

        $scope.getData($scope.city, $scope.days);

        $scope.convertToFahrenheit = function (degK) {
            return Math.round((1.8 * (degK - 273)) + 32);
        };

        $scope.convertToCelcius = function (degK) {
            return Math.round(degK - 273);
        };

        $scope.convertToDate = function (date) {
            return new Date(date * 1000);
        };

        $scope.getForecast = function () {
            $scope.buttonToggle = !$scope.buttonToggle;
            $scope.getDays = $scope.weatherResult.cnt;
            $scope.getCity = $scope.weatherResult.city.name;
            $scope.list = $scope.weatherResult.list;
            $scope.pageLoad = false;
        };
    }]);
</script>