<!DOCTYPE html>
<html>
<head>
    <!-- #region Meta & Title -->
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio page">
    <meta name="author" content="Sebastian Uddén">
    <!-- #endregion -->
    <!-- #region AngularJS, jQuery and other js-->
    <script src="https://code.angularjs.org/1.5.6/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.6/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.5.6/angular-resource.min.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    
    <script src="~/js/grayscale.js"></script>
    <!-- #endregion -->
    <!-- #region Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- #endregion -->
    <!-- #region Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- #endregion -->
    <!-- #region My CSS -->
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/images.css" rel="stylesheet" />
    <link href="~/CSS/margins.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/grayscale.css" rel="stylesheet" />
    <link href="~/CSS/main.css" rel="stylesheet" />
    <!-- #endregion -->
    <!-- #region Angular & Tooltip start-up -->
    <script>
        var app = angular.module('portfolioApp', ['ngRoute', 'ngResource']);
        
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!-- #endregion -->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="portfolioApp" ng-cloak>
   <!--// *************************************************************************************************** //
    // *************************************************************************************************** //
    // ********************T*H*A*N*K***Y*O*U***F*O*R***S*H*O*W*I*N*G***I*N*T*E*R*E*S*T******************** //
    // *************************************************************************************************** //
    // *************************************I*N***M*Y***C*O*D*E******************************************* //
    // *************************************************************************************************** //
    // ********************T*H*E*S*E***A*R*E***B*Y***N*O***M*E*A*N*S***T*H*E***E*X*T*E*N*T**************** //
    // *************************************************************************************************** //
    // ****************************O*F***M*Y***C*A*P*A*B*I*L*I*T*I*E*S************************************ //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // *****************I*M***A***H*A*R*D***W*O*R*K*E*R***W*H*O***L*O*V*E*S***C*O*D*I*N*G***************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // ***********************C*O*N*T*A*C*T***M*E***F*O*R***M*O*R*E***I*N*F*O***************************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // ***********************************OOO************OOO********************************************** //
    // **********************************O***O**********O***O********************************************* //
    // ***********************************OOO************OOO********************************************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // ********************************OO********************OO******************************************* //
    // **********************************OO****************OO********************************************* //
    // ************************************OOO**********OOO*********************************************** //
    // ***************************************OOOOOOOOOO************************************************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // *************************************************************************************************** //
    // **********************************//*S*E*B*A*S*T*I*A*N********************************************* //
    // *************************************************************************************************** //
    // *************************************************************************************************** //-->
    @RenderBody()
    <!-- #region Footer -->
    <footer class="footerStyle">
        <div class="container text-center">
            <a href="#intro" class="btn btn-circle page-scroll upChevron">
                <i class="fa fa-chevron-up animated" style="margin-top: -20px;"></i>
            </a>
            <br />
            <ul class="list-inline banner-social-buttons">
                <li>
                    <button onclick="window.open('https://se.linkedin.com/in/sebastianudden','_blank')" class="round-icon-btn tooltipStyle" data-toggle="tooltip" title="LinkedIn"><span class="fa fa-linkedin fa-f"></span></button>
                </li>
                <li>
                    <button onclick="window.open('https://github.com/sebastianudden', '_blank')" class="round-icon-btn tooltipStyle" data-toggle="tooltip" title="GitHub"><span class="fa fa-github fa-fw"></span></button>
                </li>
            </ul>
            <br />
            <p class="pSmall">Copyright &copy; | Sebastian Uddén| <a class="footerLink" href="mailto:sebastian.udden@gmail.com">sebastian.udden@gmail.com</a> | <a class="footerLink" href="tel:0046730797992"> +46 730 797 992 </a></p>
        </div>
    </footer>
    <!-- #endregion -->
</body>
</html>

