/*---------------------------------------------------------------------------
                             GENERAL PAGE SETTINGS 
---------------------------------------------------------------------------*/

body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica;
    color: #000;
    background-color: #fff;
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

html {
    width: 100%;
    height: 100%;
}

/*---------------------------------------------------------------------------
                                    FONTS
---------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    /*margin: 0 0 25px;*/
    font-size: 18px;
    /*line-height: 1.5;*/
}

.pSmall {
    font-size: 14px;
}

.pRight {
    text-align: right;
}

.pLeft {
    text-align: left;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        /*line-height: 1.6;*/
    }

    .pSmall {
        font-size: 16px;
    }
}

a {
    color: #d85e06;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.footerLink {
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #d85e06;
}

.light {
    font-weight: 400;
}

.onTheLine {
    display: inline;
}


/*---------------------------------------------------------------------------
                              THE INTRO PART 
---------------------------------------------------------------------------*/
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #000;
    background: url(../img/general/intropicture.jpg) no-repeat bottom center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

    .intro .intro-body {
        display: table-cell;
        vertical-align: middle;
    }

        .intro .intro-body .brand-heading {
            font-size: 40px;
        }

        .intro .intro-body .intro-text {
            font-size: 18px;
        }

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

        .intro .intro-body .brand-heading {
            font-size: 100px;
        }

        .intro .intro-body .intro-text {
            font-size: 26px;
        }
}

/*---------------------------------------------------------------------------
                        CIREL BUTTON WITH PULS ANIMATION
---------------------------------------------------------------------------*/

/* Circel button */

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #000;
    border-radius: 100% !important;
    font-size: 40px;
    color: #000;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

    .btn-circle:hover /*.btn-circle:focus*/ {
        outline: 0;
        color: #d85e06;
        border: 2px solid #d85e06;
        /*background: rgba(237,29,36,1);*/
    }

    .btn-circle i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }

    .btn-circle:hover i.animated {
        -webkit-animation-name: pulse;
        -moz-animation-name: pulse;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }

/* Pulse Animation */
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

/*---------------------------------------------------------------------------
                        CONTENT SECTION ADJUSMENTS
---------------------------------------------------------------------------*/

.content-section {
    padding-top: 100px;
}

.about-section {
    width: 100%;
    padding: 50px 0;
    color: #000;
    /*background: url(../img/downloads-bg.jpg) no-repeat center center scroll;*/
    background-color: #eaeaea;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

@media(min-width:767px) {
    .content-section {
        padding-top: 100px;
    }

    .download-section {
        padding: 100px 0;
    }
}

/*---------------------------------------------------------------------------
                       TEXTBOX / INPUT & TEXTAREA 
---------------------------------------------------------------------------*/

input[type=text] {
    width: 100%;
    padding: 12px 12px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

    input[type=text]:focus {
        border: 1px solid #d85e06;
        color: #000;
    }

textarea {
    width: 100%;
    padding: 12px 12px;
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

    textarea:focus {
        border: 1px solid #d85e06;
        color: #000;
    }

/*---------------------------------------------------------------------------
                              BUTTON 
---------------------------------------------------------------------------*/

/* Standard Button Adjustments */
.standard-btn {
    text-transform: uppercase;
    border: 1px solid #d85e06;
    outline: 0;
    color: #fff;
    background-color: #d85e06;
    padding: 12px 0;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

    /* Hovering over a button */
    .standard-btn:hover {
        border: 1px solid #d85e06;
        color: #d85e06;
        background-color: transparent;
        text-decoration: none !important;
    }

.about-section .standard-btn {
    margin: 10px 10px;
}


.round-icon-btn {
    text-transform: uppercase;
    border: 1px solid #fff;
    text-align: center;
    display: inline-block;
    color: #000;
    background-color: #fff;
    padding: 2px;
    font-size: 24px;
    font-family: "Helvetica Neue",Helvetica;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

    /* Hovering over a button */
    .round-icon-btn:hover {
        border: 1px solid #fff;
        color: #fff;
        background-color: transparent;
        text-decoration: none !important;
    }


/* Button Width */
.btn-width-ikon {
    width: 40px;
}

.btn-width-small {
    width: 120px !important;
}

.btn-width-medium {
    width: 150px !important;
}

.btn-width-large {
    width: 180px !important;
}

/*---------------------------------------------------------------------------
                       CONTACT INFORMATION PART 
---------------------------------------------------------------------------*/
@media (min-width: 767px) and (max-width: 992px) {
    .contactInformation p {
        font-size: 16px;
    }
}

@media(min-width:767px) {
    .contactInformation {
        text-align: left;
    }

        .contactInformation h3 {
            margin-top: 10px;
        }

        .contactInformation p {
            margin-top: -35px;
        }

        .contactInformation .firstP {
            margin-top: 0;
        }
}

@media(max-width:767px) {
    .contactInformation h3 {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

/*---------------------------------------------------------------------------
                                  FOOTER PART 
---------------------------------------------------------------------------*/
.footerStyle {
    background-color: #000;
    color: #fff;
}

    .footerStyle .btn-circle {
        border: 2px solid #fff;
        color: #fff;
    }

footer {
    padding: 50px 0;
}

    footer p {
        margin: 0;
    }

.upChevron {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}


.footerStyle .btn-circle {
    border: none;
    color: none;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

    .footerStyle .btn-circle:hover /*.btn-circle:focus*/ {
    }

/*---------------------------------------------------------------------------
                                 MODAL FIX 
---------------------------------------------------------------------------*/

.closePortfolioModal {
    position: absolute;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
    font-weight: 300;
    font-size: 40px;
    top: 4px;
    right: 20px;
    opacity: 0.5;
}

    .closePortfolioModal:hover,
    .closePortfolioModal:focus,
    .carouselArrow:hover {
        color: #ffffff;
        opacity: 1;
        text-decoration: none;
        cursor: pointer;
    }

.carouselArrow {
    position: absolute;
    top: 45%;
    color: #ffffff;
    opacity: 0.5;
    font-size: 32px;
}

.leftCarouselArrow {
    left: 0;
    margin-left: 20px;
}

.rightCarouselArrow {
    right: 0;
    margin-right: 20px;
}

.portfolioModalSize {
    margin: 50px auto auto auto;
    display: block;
    width: auto;
}

@media (min-width: 768px) {
    .portfolioModalSize {
        height: 90%;
    }
}

@media (max-width: 768px) {
    .portfolioModalSize {
        height: 80%;
    }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y:hidden;
    max-height: 88%;
}

/*.navbar-fixed-top, .navbar-fixed-bottom {
    margin-right: 0 !important;
    padding-right: 0 !important;
}*/

.modal-backdrop.in {
    filter: alpha(opacity=90);
    opacity: 0.9;
}