/*---------------------------------------------------------------------------
                           BACKGROUND PICTURE 
---------------------------------------------------------------------------*/

/*.bgPicture {
    margin-top: -80px;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     This image will be displayed fullscreen 
    background-color: lightgray;
    background: url("../../../Images/MoodPictures/BLUR1.jpg") no-repeat center center;
     Ensure the html element always takes up the full height of the browser window 
    min-height: 100%;
     The Magic 
    background-size: cover;
    -webkit-filter: blur(1px);
}*/

/*body {
    background-color: #EEEEEE;
}

.bluePic {
    background-color: rgba(51, 122, 183, 0.80);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 540px;
}*/

/*---------------------------------------------------------------------------
                                 IMAGES
---------------------------------------------------------------------------*/
/* Responsive div-images */
.divImage {
    width: 100%;
    background-size: cover;
    background-position: center;
}

/*---------------------------------------------------------------------------
                                 RATIOS
---------------------------------------------------------------------------*/

/* Images with 9:16 ratio */
.ratio916 {
    padding-top: 56.25%;
}

/* Images with 3:4 ratio */
.ratio34 {
    padding-top: 75%;
}

/* Images with 1:2 ratio */
.ratio12 {
    padding-top: 50%;
}

/*---------------------------------------------------------------------------
                             IMAGE POSSITION
---------------------------------------------------------------------------*/

.centerImgae {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*---------------------------------------------------------------------------
                              ROUND IMAGES
---------------------------------------------------------------------------*/

@media(max-width:768px) {
    .img-circle {
        border-radius: 50%;
    }

    /* Images with 1:1 ratio */
    .ratio11 {
        padding-top: 100%;
    }
}

@media(min-width:768px) {
    .img-circle {
        border-radius: 50%;
    }

        /* Images with 1:1 ratio */
    .ratio11 {
        padding-top: 50%;
    }
}
