/* *************************************************************************************************** //
// *************************************************************************************************** //
// ********************T*H*A*N*K***Y*O*U***F*O*R***S*H*O*W*I*N*G***I*N*T*E*R*E*S*T******************** //
// *************************************************************************************************** //
// *************************************I*N***M*Y***C*O*D*E******************************************* //
// *************************************************************************************************** //
// ********************T*H*E*S*E***A*R*E***B*Y***N*O***M*E*A*N*S***T*H*E***E*X*T*E*N*T**************** //
// *************************************************************************************************** //
// ****************************O*F***M*Y***C*A*P*A*B*I*L*I*T*I*E*S************************************ //
// *************************************************************************************************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// *****************I*M***A***H*A*R*D***W*O*R*K*E*R***W*H*O***L*O*V*E*S***C*O*D*I*N*G***************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// ***********************C*O*N*T*A*C*T***M*E***F*O*R***M*O*R*E***I*N*F*O***************************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// ***********************************OOO************OOO********************************************** //
// **********************************O***O**********O***O********************************************* //
// ***********************************OOO************OOO********************************************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// ********************************OO********************OO******************************************* //
// **********************************OO****************OO********************************************* //
// ************************************OOO**********OOO*********************************************** //
// ***************************************OOOOOOOOOO************************************************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// *************************************************************************************************** //
// **********************************//*S*E*B*A*S*T*I*A*N********************************************* //
// *************************************************************************************************** //
// *************************************************************************************************** */

.myFontColor {
    color:#ff6a00;
}

.myBgColor {
    background-color:#ff6a00;
}

.portfolioBorderBox {
    padding:4vh 2vh 2vh 4vh; 
    background-color:rgba(220, 220, 220, 0.60); 
    border-radius:10px;
}


body {
    overflow-x: hidden;
}

.slider {
    width: 800px;
    overflow: hidden;
    height: 400px;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_next_fff.png);
}

.tooltipStyle + .tooltip > .tooltip-inner {
    background-color: #fff;
    padding: 8px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    color: #ff6a00;
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.25);
}

.tooltipStyle + .tooltip > .tooltip-arrow {
    border-top-color: #fff;
    text-shadow: 5px 5px 10px 1px rgba(0,0,0,0.25);
}

.redT + .tooltip > .tooltip-inner {
    color: #D03427 !important;
}

.imageText {
    color:#ffffff;
    text-shadow:3px 3px 6px #000000; 
    font-weight:600; 
    position:center fixed;
}