/*---------------------------------------------------------------------------
                         ALL FOUR CORNERS MARGIN
---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------
                            TOP & BOTTOM MARG
---------------------------------------------------------------------------*/

.topBottomMargin20 {
    margin: 20px 0;
}


.topBottomMargin80 {
    margin: 80px 0;
}
/*---------------------------------------------------------------------------
                            LEFT & RIGHT MARGIN
---------------------------------------------------------------------------*/
.leftRightMargin10 {
    margin: 0 10px;
}

.leftRightMargin20 {
    margin-right: 20px;
    margin-left: 20px;
}
/*---------------------------------------------------------------------------
                                TOP MARGIN
---------------------------------------------------------------------------*/

.topMargin-80 {
    margin-top: -80px;
}

.topMargin-35 {
    margin-top: -35px;
}

.topMargin-30 {
    margin-top: -30px;
}

.topMargin-20 {
    margin-top: -20px;
}

.topMargin-8 {
    margin-top: -8px;
}

.topMargin3 {
    margin-top: 3px;
}

.topMargin10 {
    margin-top: 10px;
}

.topMargin20 {
    margin-top: 20px;
}

.topMargin50 {
    margin-top: 50px;
}

.topMargin80 {
    margin-top: 80px;
}
/*---------------------------------------------------------------------------
                               RIGHT MARGIN
---------------------------------------------------------------------------*/
.rightMargin5 {
    margin-right: 5px !important;
}

.rightMargin10 {
    margin-right: 10px;
}

.rightMargin15 {
    margin-right: 15px;
}

.rightMargin20 {
    margin-right: 20px;
}

/*---------------------------------------------------------------------------
                              BOTTOM MARGIN
---------------------------------------------------------------------------*/
.bottomMargin-20 {
    margin-bottom: -20px;
}

.bottomMargin-10 {
    margin-bottom: -10px;
}

.bottomMargin0 {
    margin-bottom: 0;
}

.bottomMargin10 {
    margin-bottom: 10px;
}

.bottomMargin20 {
    margin-bottom: 20px;
}
/*---------------------------------------------------------------------------
                               LEFT MARGIN
---------------------------------------------------------------------------*/
.leftMargin5 {
    margin-left: 5px;
}

.leftMargin10 {
    margin-left: 10px;
}

.leftMargin20 {
    margin-left: 20px;
}

/*---------------------------------------------------------------------------
                               PADDING
---------------------------------------------------------------------------*/

.padding20 {
    padding: 20px;
}