/*---------------------------------------------------------------------------
                                 NAVBAR 
---------------------------------------------------------------------------*/


/* Small Collapsed Navbar Adjustments */
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica;
    font-weight: 100;
    background-color: #fff;
    text-decoration: none; 
    
}

@media(max-width:768px) {
    .navbar-custom {
        -webkit-box-shadow: 0 0 5px 3px rgba(0,0,0,0.25);
        -moz-box-shadow: 0 0 5px 3px rgba(0,0,0,0.25);
        box-shadow: 0 0 5px 3px rgba(0,0,0,0.25);
    }
}

/* Logo */
.navbar-custom .navbar-brand {
    font-weight: 700;
    letter-spacing: 0;
}

    .navbar-custom .navbar-brand:focus {
        outline: 0;
    }

    .navbar-custom .navbar-brand .navbar-toggle {
        /*padding: 4px 6px;*/
        font-size: 16px;
        color: #000;
    }

        .navbar-custom .navbar-brand .navbar-toggle:focus,
        .navbar-custom .navbar-brand .navbar-toggle:active {
            outline: 0;
        }

/* Text color */
.navbar-custom a {
    color: #000;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

    .navbar-custom .nav li a:hover {
        outline: 0;
        color: #d85e06;
        background-color: transparent;
    }

    .navbar-custom .nav li a:focus,
    .navbar-custom .nav li a:active {
        outline: 0;
        background-color: transparent;
    }

.navbar-custom .nav li.active {
    outline: 0;
}

    /* Text color when active */
    .navbar-custom .nav li.active a {
        /*background-color: rgba(255,255,255,.3);*/
        color:  #d85e06;
    }

        .navbar-custom .nav li.active a:hover {
            color: #000;
        }

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

        .navbar-custom.top-nav-collapse {
            padding: 0;
            border-bottom: 1px solid rgba(255,255,255,.3);
            background: #fff;
            -webkit-box-shadow: 0 0 5px 3px rgba(0,0,0,0.25);
            -moz-box-shadow: 0 0 5px 3px rgba(0,0,0,0.25);
            box-shadow: 0 0 5px 3px rgba(0,0,0,0.25);
        }
}
